/*------- Global -------*/
html, body {
    font-size: 16px;
    line-height: 150%;
    font-family: 'Arial', sans-serif;
}

.container {
    height: 100%;
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}