/*------- Global -------*/
html, body {
    font-size: 17px;
    line-height: 150%;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    margin-top: 25px;
}

.container {
    height: 100%;
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/*------- Header -------*/
.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

.header__nav-item {
    margin-right: 40px;
}